<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="tic-tac-toe game">
	<meta name="keywords" content="one, two, three">
	<meta name="viewport"
		content="width=device-width, initial-scale=1">

	<title>X's and O's</title>

	<!-- external CSS link -->
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<main>
		<h1>X's and O's</h1>
		<p><strong>Rules:</strong> Click the Game board to
			start. First to click is <strong>Player
				X</strong>, second to click is
			<strong>Player X</strong>. Get 3 consecutive
			boxes in a row, you win, otherwise it is a draw.
			Have fun!</p>

		<div class="container">
			<div data-cell-index="0" class="cell"></div>
            <div data-cell-index="1" class="cell"></div>
            <div data-cell-index="2" class="cell"></div>
            <div data-cell-index="3" class="cell"></div>
            <div data-cell-index="4" class="cell"></div>
            <div data-cell-index="5" class="cell"></div>
            <div data-cell-index="6" class="cell"></div>
            <div data-cell-index="7" class="cell"></div>
            <div data-cell-index="8" class="cell"></div>
			</div>

		<h4 class="status"></h4>
		<button class="reset" >RESET</button>
	</main>



	<script type="text/javascript"
		src="js/main.js"></script>
</body>

</html>